/* Start Global */

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

$cairo: 'Cairo', sans-seri;

* {
    box-sizing: border-box;
}

body {
    font-family: $cairo;
    background-color: #047D5B;
    direction: rtl;
}

p, h1, h2, h3, h4, h5, h6, p, a {
    font-family: $cairo;
}

/* End Global */

.content {
    padding-top: 60px;
    padding-bottom: 60px;
    .container {
        background-color: #FFF;
        border-radius: 5px;
    }
    header {
        padding-top: 30px;
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 200px;
                height: 150px;
            }
        }
        ul {
            li {
                display: flex;
                justify-content: center;
                font-size: 13px;
                font-weight: 600;
                i {
                    margin-left: 10px;
                }
                &:last-child {
                    i {
                        font-size: 18px;
                    }
                }
                
            }
        }
    }
    .data {
        p {
            font-size: 18px;
            padding-left: 35px;
            padding-right: 35px;
            text-align: center;
        }
        h6 {
            text-align: center;
            font-size: 26px;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #047D5B;
        }
    }
    .form {
        .row {
            margin-bottom: 0;
            form {
                .input-field {
                    input {
                        color: #047D5B;
                    }
                    label {
                        right: 0.75rem;
                        &:not(.label-icon).active {
                            transform: translate(6.75rem, -14px) scale(0.8);
                        }
                    }
                }
            }
        }
    }
    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        // rating

        .rate {
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #047D5B;    
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #93d3cc;  
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #93d3cc;
        }
    }
}