/* Start Global */

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

$cairo: 'Cairo', sans-seri;

* {
    box-sizing: border-box;
}

body {
    font-family: $cairo;
    background-color: #047D5B;
    direction: rtl;
}

p, h1, h2, h3, h4, h5, h6, p, a {
    font-family: $cairo;
}

/* End Global */

.content {
    padding-top: 60px;
    padding-bottom: 60px;
    .container {
        background-color: #FFF;
        border-radius: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
        .data {
            h3 {
                text-align: center;
                font-size: 26px;
                margin-bottom: 20px;
                color: #047D5B;
            }
            p {
                font-size: 18px;
                padding-left: 35px;
                padding-right: 35px;
                text-align: center;
            }

        }
        table {
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #047D5B;
            tbody > tr > td:first-child {
                background-color: #047D5B;
                color: #FFF;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
            }
            .first {
                td:first-child {
                    border-top: 0;
                }
                td:last-child {
                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                }
            }
            .last {
                border-bottom: 0;
                td:first-child {
                    border-bottom: 0;
                }
                td:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                }
            }
        }
        footer {
            padding-top: 30px;
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 200px;
                    height: 150px;
                }
            }
            ul {
                li {
                    display: flex;
                    justify-content: center;
                    font-size: 13px;
                    font-weight: 600;
                    i {
                        margin-left: 10px;
                    }
                    &:last-child {
                        i {
                            font-size: 18px;
                        }
                    }
                    
                }
            }
        }
    }  
    
}